/*************** Global ***************/
body {
  background: #efefef;
  margin: 0px;
  text-align: center;
}

h2 {
  background: #cccccc;
  padding: 10px;
}

header {
  /* H1 margins cause the body to not reach the top without this. */
  background: #cccccc;
  overflow: auto;
}

img + figcaption{
  font-size: 14px;
  margin: auto;
  max-width: 400px;
}

/*************** Tags and image near the top ***************/
.tag-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-around;
}

.tag-container > p {
  min-width: 220px;
  width: 33%;
}

.top-figure-container {
  margin: 20px 0;
}

.top-figure-container img {
  width: 400px;
}

/************** Text in middle ***************/
.text-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.text-middle div {
  flex-basis: 300px;
  flex-grow: 1;
  margin: auto 20px;
  padding: 10px 0;
}

.text-middle hr {
  margin: 30px auto;
  width: 20%;
}

.text-middle img {
  max-height: 500px;
  max-width: 80%;
}

.greyscale-filter img {
  filter: grayscale(100%);
}

.text-middle .section-image {
  flex-basis: 400px;
  flex-grow: 2;
  margin: auto 10px;
  padding: 10px 0;
}

/************** Text at top or bottom ***************/
.text-separate div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-separate p {
  flex-basis: 400px;
  flex-grow: 1;
  margin: 20px;
  max-width: 40%;
  min-width: 275px;
}

.text-separate hr {
  margin: 30px auto;
}

.text-separate img {
  max-height: 500px;
  max-width: 80%;
}

.text-separate .section-image {
  flex-basis: 400px;
  flex-grow: 2;
  margin: auto 10px;
  padding: 10px 0;
}

/************** Quote ***************/
.quote-container {
  background-color: #dfdfdf;
  display: inline-block;
  max-width: 1600px;
  padding: 10px;
}

.quote-container .attribution {
  font-size: 14px;
}

/************** Footer ***************/
.attributions {
  background: #cccccc;
  font-size: 12px;
  margin: 1em 0 0 0;
  padding: 0.75em;
}

.image-attribution, .information-attribution {
  padding: 0.5em 2em;
}
